.PageTopic {
    margin: 2em auto;
    text-align: center;
    color: #332f2d;
}

.viewMoreButton {
    margin: 3em auto;
    margin-bottom: 5em;
    max-width: 400px;
    width: 80%;
    text-align: center;
    padding: 15px 25px;
    border: 2px solid #0D0D19;
    border-radius: 5px;
    background: transparent;
    display: block;
    text-decoration: none;
    color: #545460;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.viewMoreButton:hover {
    background: #0D0D19;
    color: #fff
}


.charactersSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(480px, 1fr);
    grid-gap: 2em;
}


@media screen and (min-width: 720px) {
    .charactersSection {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: minmax(480px, 1fr);
        grid-gap: 2em;
    }
}

@media screen and (min-width: 1024px) {
    .charactersSection {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: 350px;
        grid-column-gap: 1em;
        margin: 1em 5em;
    }
}
