.PageTopic {
    margin: 2em auto;
    text-align: center;
    color: #332f2d;
}

.charactersSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
    grid-gap: 2em;
}

.filterContainer {
    display: flex;
    align-items: center;
    margin: 1em 5em;
}

.filterHeading {
    margin-right: 10px;
    text-transform: uppercase
}

.filterSelect {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: #97979C;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 90%;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    max-width: 200px;
    text-align: center;
    border: 2px solid #97979C
}


@media screen and (min-width: 720px) {
    .charactersSection {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: minmax(400px, 1fr);
        grid-gap: 2em;
    }
}

@media screen and (min-width: 1024px) {
    .charactersSection {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: 350px;
        grid-column-gap: 1em;
        margin: 1em 5em;
    }
}
