.spaceCardContainer,
.characterCardContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .08), 0 -1px 3px 0 rgba(0, 0, 0, 0.06);
    position: relative;
    border-radius: 2px;
    margin-bottom: 0;
    background: #D8D8D8;
}


.cardImage,
.characterCardImage {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    animation: fadein 3s;
    -webkit-animation: fadein 4s;
}

.spaceCardImageContainer {
    height: calc(58% - 10px);
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    background-color: #fff;
    z-index: 3
}

.spaceCardTextContainer {
    background: #F2F2F2;
    position: absolute;
    height: calc(42% - 35px);
    width: calc(100% - 2em);
    margin-left: auto;
    right: 0;
    margin-right: auto;
    top: 60%;
    left: 0;
    padding: .5em;
    color: #494956;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

.spaceCardTitle,
.spaceCardText,
.spaceCardButton,
.cardFinalText {
    display: block;
    margin: .5em 0;
}

.spaceCardTitle {
    font-size: 24px;
    font-weight: 600;
    margin: 0
}

.spaceCardText {
    /* line-height: 150% */
    margin: 0;
    font-size: 14px
}

.cardCargoCapacity {
    font-size: 12px;
    font-style: italic;
    margin: 0
}

.spaceCardButton {
    padding: 15px 25px;
    background: #D8D8D8;
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-decoration: none;
    color: #545460;
    display: flex;
    align-items: center;
    justify-content: center
}


.spaceCardText {}

.readmoreButton {
    fill: #303040;
    width: 15px;
    margin-left: 10px;
}

.spaceCardButton:hover {
    background-color: #0D0D18;
    color: #fff
}

.spaceCardButton:hover .readmoreButton {
    fill: #fff
}


/* *********************************************************
*           character cards
*************************************************************/

.characterCardContainer {}

.characterCardImageContainer {
    flex: 2;
}

.characterCardImage {}

.characterCardTextContainer {
    flex: 1;
    margin: auto 1em
}

.characterCardTitle {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: .1em 0
}

.characterCardSubTitle {
    margin: 0;
    font-size: 14px;
    font-style: italic
}

.characterCardText {}

.characterCardReadmoreLink {
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    text-decoration: none
}

.characterCardReadmoreLink:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    border-bottom: 3px solid #353229;
    right: 0;
    bottom: -4px
}

.characterCardReadmoreLink:hover {
    opacity: .5;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 300px) {

    .spaceCardContainer,
    .characterCardContainer {
        height: 500px
    }

}

@media screen and (min-width: 720px) {
    .spaceCardTextContainer {
        width: calc(100% - 1em);
        left: 10px;
    }

    .characterCardContainer {
        flex-direction: row
    }
}
