.skeletonCardContainer,
.peopleSkeletonCardContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .08),
        0 -1px 3px 0 rgba(0, 0, 0, 0.06);
    position: relative;
    border-radius: 2px;
    margin-bottom: 0;
}

.peopleSkeletonCardContainer {
    flex-direction: row
}


.skeletonCardImage,
.peopleSkeletonCardImage {
    height: calc(58% - 10px);
    border-top: 10px solid rgba(0, 0, 0, 0.096);
    border-bottom: 10px solid rgba(0, 0, 0, 0.096);
    background-color: #fff;
    z-index: 3;
    animation-name: loader-animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Loader animation  */
@keyframes loader-animate {
    from {
        transition: none;
    }

    to {
        background-color: #15171a31;
        transition: all 0.3s ease-out;
    }
}

.skeletonCardTextContainer,
.peopleSkeletonCardTextContainer {
    background: #eff1f6;
    position: absolute;
    height: calc(42% - 35px);
    width: calc(100% - 2em);
    margin-left: auto;
    right: 0;
    margin-right: auto;
    top: 60%;
    left: 0;
    padding: .5em;

}

.skeletonCardTitle,
.skeletonCardText,
.skeletonCardButton,
.skeletonCardFinalText {
    background: #e1e1f08a;
    display: block;
    animation-name: loader-animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 12px 0;

}

.skeletonCardTitle {
    height: 28px;
    width: 20%
}

.skeletonCardFinalText {
    height: 10px;
    width: 50%
}

.skeletonCardText {
    height: 10px;
    width: 85%
}

.skeletonCardButton {
    height: 48px;
    width: 153px;
    background: #D8D8D8;
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-decoration: none;
    color: #545460;
    display: flex;
    align-items: center;
    justify-content: center
}


.skeletonCardText {}

.skeletonCardFinalText {}

.skeletonCardButton {}

@media screen and (min-width: 720px) {
    .skeletonCardTextContainer {
        width: calc(100% - 1em);
        left: 10px;
    }
}
